.add-product-container {
  max-width: 700px;
  margin: 50px auto;
}

.card {
  border-radius: 16px;
  background-color: #ffffff;
}

h2 {
  font-weight: 600;
  color: #333;
}

.btn-outline-secondary {
  text-decoration: none;
  line-height: 36px;
}
